<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Programa Cujo Nome Estamos Legalmente Impedidos de Dizer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <style>
    body {
      font-family: Iowan Old Style, Apple Garamond, Baskerville,
        Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    }
  </style>
</head>

<body>
  <header>
    <p><a href="/">Lista de episódios</a></p>
    <h1>{{ episode.title }}</h1>
  </header>
  <main>
    <div>
      <a href="{{episode.url}}">
        <img src="{{ episode.thumbnail_url }}" alt="Episode cover" style="height: 100px;">
      </a>
    </div>
    <div>
      <audio controls autoplay>
        <source src="{{ episode.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    {% for snippet in snippets %}
    <div class="transcript">
      <a href="#{{loop.index}}" id="{{loop.index}}">{{ snippet.timestamp }}</a> | {{ snippet.text }}
    </div>
    {% endfor %}


    <div class="c">
      <a class="l" href="#00:00:06.320" id="00:00:06.320">link</a> |
      <div class="s"><a href="https://www.youtube.com/watch?v=3FIo6evmweo&amp;t=6">00:00:06.320</a></div>
      <div class="t"> and a co creator of long short term memory networks.</div>
    </div>

    <hr />
  </main>
  <footer>
    Uma estupidez por
    <a href="https://duarteocarmo.com/?utm_source=governo_sombra" target="_blank">Duarte O.Carmo</a>
  </footer>
</body>

</html>
